

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Karla', sans-serif;
	text-transform: uppercase;
}


@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello/font/fontello.ttf');
}

#apple {
	width: 15%;
}

h1, h2 {
	color: white;
	margin-bottom: 1em;
	cursor: default;
}

h3 {
	color: #b1e0d6;
	margin-bottom: 1em;
	cursor: default;
}

a {
	text-decoration: none;
	color: white;
}

p {
	cursor: default;
}

.main {
	height: 100%;
	width: 100%;
}

.inside {
	background-color: #f2f4f1;
}




/*-------------------------- NAV ----------------------------*/

header {
	width: 100%;
	background-color: #c8c8c8;
	position: fixed;
	top: 0;
	padding: 2em 0 2em 0;
	z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.12);
    opacity: 0.8;
}

#left {
	display: inline;
	float: left;
	margin-left: 5%;
	cursor: default;
	width: 20%;
}

ul {
	list-style: none;
	width: 79%;
	padding-left: 20%;
}

li {
	display: inline-block;
	float: right;
	color: black;
	margin: 0 5% 0 5%;
	cursor: default;
	font-weight: bold;
}

li:hover {
	color: white;
}

li:active, #left:active {
	color: white;
}

#nav_apple {
	width: 25%;
}

/*-------------------------- MAP ----------------------------*/

#map {
	height: 380px;
	width: 80%;
	display: inline-block;
	border: solid 0.5px #3f665d;
}

.map_wrapper {
	margin-top: 10em;
	text-align: center;
}

.map_wrapper > h2 {
	margin: 2em 0 2em 0;
	color: #3a3a3a;
}

.map_wrapper > p {
	margin-top: 3em;
	color: #858585;
}

.back {
	margin-top: 5em !important;
}


/*-------------------------- LOGIN FORMS ----------------------------*/

.hideForm {
	display: none;
}

.open {
	color: white;
}

.open:hover {
	color: #fce1a4;
}

h1 {
	font-size: 250%;
}

input[type=text], input[type=password], button {
	font-family: 'Karla', sans-serif;
}

input[type=text], input[type=password] {
	width: 60%;
	font-size: 150%;
	margin: 0.5em 0 0.5em 0;
	background: 0 0;
	border: 0;
	text-align: center;
	text-transform: uppercase;
	color: #3f665d;
}

input[type=text]:focus, input[type=password] {
	outline: none;
}

::-webkit-input-placeholder {
   color: #5f998c;
}

.form_wrapper {
	text-align: center;
	width: 100%;
	padding-top: 11em;
}

.forms {
	background-color: #7bc8b3;
}


/*-------------------------- BUTTONS ----------------------------*/

button {
	font-size: 0.75em;
	padding: 1em;
	width: 30%;
	margin: 2em 0 2em 0;
	border: 1px white solid;
	color: white;
	background: 0;
	outline: none;
}


button:hover {
	background-color: #3f665d;
	border: 1px solid #3f665d;
}

button:active {
	background-color: #5f998c;
	border: 1px solid #5f998c;
}


/*-------------------------- EDIT FORM ----------------------------*/


#edit_form > p {
	margin-top: 2em;
	color: white;
}

#edit_form > p:hover {
	color: #5f998c;
}



/*--------------------------- NEIGHBORHOOD INPUT --------------------------*/

#neighborhood {
	width: 80%;
	font-size: 175%;
	margin-bottom: 2em;
	background: 0 0;
	border: 0;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Palanquin', sans-serif;
	font-weight: bold;
	color: #1f5e4a;
}

input[type="text"]#neighborhood::-webkit-input-placeholder {
   color: #54cba5;
}

#total_width {
	width: 100%;
}

.content_wrapper {
	text-align: center;
}

.content_wrapper:first-child {
	padding-top: 10em;
}

#neighborhood_form {
	margin-top: 8em;
}

#top_form {
	margin-top: 3em;
}



/*-------------------------- RANDOMIZE BUTTON --------------------------*/

#random_button, #neighborhood_button, #button_div > button, .back, .single_day > div > button {
	width: 50%;
	padding: 1em;
	margin: 2em 0 0 0;
	color: white;
	background-color: #53a381;
	border-color: #53a381;
}


#random_button:hover, #neighborhood_button:hover, #button_div > button:hover, .back:hover, .single_day > div > button:hover {
	color: #3e3e3e;
	border-color: #3e3e3e;
	background-color: #f7f7f7;
}

#random_button:active, #neighborhood_button:active, #button_div > button:active, .back:active, .single_day > div > button:active {
	background-color: #337b64;
	border-color: #337b64;
}



/*-------------------------- ITINERARY --------------------------*/

.itinerary_wrapper {
	padding: 13em 0 50em 0;
	text-align: center;
	background-color: #ededed;
}

.itinerary_wrapper > h3, .itinerary_wrapper > a > div > h3 {
	color: #858585;
}


.itinerary_wrapper > h2, .itinerary_wrapper > a > div > b {
	color: #3a3a3a;
}

.itinerary_wrapper > a > div > b {
	font-size: 150%;
}

.category {
	margin-top: 1em;
}

.category > p {
	color: #858585;
}

.it_div {
	background-color: #d6d6d6;
	margin: 0.5em 20% 0.5em 20%;
	padding: 2em 5% 3em 5%;
}

.it_div:hover {
	background-color: #f7f7f7;
}

.it_div:active {
	background-color: #747474;
}


#button_div {
	margin-bottom: 3em;
}	




/*---------------------------- ALL USER DAYS ----------------------------*/

.days_wrapper {
	text-align: center;
	width: 100%;
	padding: 10em 0 50em 0;
	background-color: #ededed;
}

.days_wrapper > h2 {
	margin: 2em 0 3em 0;
	color: #3a3a3a;
}

.days_wrapper > p {
	color: #3a3a3a;
}

.single_day {
	background-color: #d6d6d6;
	margin: 1em 10% 1em 10%;
	padding: 1.5em 5% 2em 5%;
}

.single_day:hover {
	background-color: #f7f7f7;
}

.single_day:active {
	background-color: #747474;
}

.single_day > div > h2 {
	color: #858585;
}

.single_day > div > span {
	color: #3a3a3a;
}
	
.single_day > div > p {
	color: #858585;
	margin-top: 1em;
}

.single_day > div > b {
	color: #3a3a3a;
}

.single_day > div > button {
	margin-bottom: 0.5em;
}

#single_day_h3 {
	margin: 0;
}

#single_day_p {
	margin-bottom: 3em;
}

.delete, .share {
	background-color: #bd586c !important;
	border: none;
}

.delete:hover, .share:hover {
	color: #3e3e3e;
	border-color: #3e3e3e;
	background-color: #f7f7f7 !important;
}

.delete:active, .share:active {
	background-color: #9d3449;
	border: none;
	color: white;
}

/*------------------------ ANIMATIONS --------------------------*/

/*.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}*/









@media (min-width: 430px) {  /* <---------------------------------------------- MIN-WIDTH 430px */

	.it_div {
		width: 215px;
		height: 215px;
		display: inline-table;
		margin: 8px;
	}

	.itinerary_wrapper {
		padding: 13em 5% 50em 5%;
	}

}


@media (min-width: 600px) {  /* <---------------------------------------------- MIN-WIDTH 600px */

	#nav_apple {
		width: 30px;
	}

}




@media (min-width: 650px) {  /* <---------------------------------------------- MIN-WIDTH 650px */

	.formButton, #delete_user {
		width: 169px;
	}

}

@media (min-width: 700px) {  /* <---------------------------------------------- MIN-WIDTH 700px */

	#random_button, #neighborhood_button, #button_div > button, .back, .single_day > div > button {
		width: 324px;
	}

}

@media (min-width: 750px) {  /* <---------------------------------------------- MIN-WIDTH 750px */

	#neighborhood {
		font-size: 225%;
	}

}

@media (min-width: 850px) {  /* <---------------------------------------------- MIN-WIDTH 850px */

	#apple {
		width: 127.5px;
	}

	.single_day {
		width: 595px;
		margin: 2em auto;
	}

}


@media (min-width: 900px) {  /* <---------------------------------------------- MIN-WIDTH 900px */

	#map {
		width: 720px;
	}

	#neighborhood {
		font-size: 300%;
	}

}


@media (min-width: 1100px) {  /* <---------------------------------------------- MIN-WIDTH 1100px */

	.itinerary_wrapper {
		padding: 13em 20% 50em 20%;
	}

	#neighborhood {
		font-size: 375%;
	}

}























