body {
	background-color: papayawhip;
}

#map {
	height: 380px;
	width: 90%;
	display: inline-block;
	border: solid 0.5px black;
	border-radius: 1%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.12);
}

/*input[type='text'] {
	background: 0 0;
	border: none;
    box-shadow: none;
}*/