<div id="formDiv">

		<!-- show if not already logged in -->
		<form id="logIn">
			<input ng-model="ctrl.loginData.email" type="text" placeholder="email">
			<input ng-model="ctrl.loginData.password" type="password" placeholder="password">
			<button ng-click="ctrl.logIn()" class="formButton">&nbsp;&nbsp;&nbsp; LOG IN &nbsp;&nbsp;&nbsp;</button></br>
			<!-- <p id="login-status"></p>
			<p ng-click="ctrl.formShow()">not a user? sign up</p> -->
		</form>	


		<!-- show if not yet signed up -->
		<form id="signUp">
			<input type="text" ng-model="ctrl.signUpData.email" placeholder="email">
			<input type="password" ng-model="ctrl.signUpData.password" placeholder="password">
			<input type="text" ng-model="ctrl.signUpData.username" placeholder="username">
			<button ng-click="ctrl.signUp()" class="formButton">&nbsp;&nbsp;SIGN UP&nbsp;&nbsp;</button></br>
			<!-- <p ng-click="ctrl.formShow()">already a user? sign in.</p> -->
		</form>


		<!-- edit profile form -->
<!-- 		<form id="editProfile" ng-submit="ctrl.submitEdit()">
			<input type="text" ng-model="ctrl.editData.email" placeholder="&#xE801; &nbsp; {{ ctrl.single.email }}">
			<input type="text" ng-model="ctrl.editData.username" placeholder="&#xE805; &nbsp; {{ ctrl.single.username }}">
			<input type="text" ng-model="ctrl.editData.imgUrl" placeholder="&#xE804; &nbsp; {{ ctrl.single.imgUrl }}">
			<input type="text" ng-model="ctrl.editData.bio" placeholder="&#xE803; &nbsp; {{ ctrl.single.bio }}">
			<button class="formButton">SUBMIT</button></br>
		</form> -->

		<!-- logout button to show only when logged in -->
		<button id="logoutButton" class="formButton" ng-click="ctrl.logout()">LOG OUT</button>

		<!-- <button id="editButton" ng-click="ctrl.editMe()" ng-if="!ctrl.editProfile && ctrl.user">&nbsp;&nbsp;&nbsp;&nbsp; EDIT &nbsp;&nbsp;&nbsp;&nbsp;</button> -->

	</div>	